<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Data Element</title>
  </head>
  <body>
    <label for="data-el-value">Enter the value for the BH Data Element</label>
    <input type="text" id="data-el-value" />

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            // TODO Populate form values from persisted settings.
            document.getElementById('data-el-value').value = info.settings.value
          }
        },

        getSettings: function() {
          // TODO Return settings object from form values.
          return {
            value: document.getElementById('data-el-value').value
          }
        },

        validate: function() {
          // TODO Return whether settings are valid.
          var currentVal = document.getElementById('data-el-value').value

          return !!value // accept any input that isn't empty
        }
      });
    </script>
  </body>
</html>
