<!doctype html>
<html lang="en">
  <head>
    <!-- https://forums.adobe.com/thread/2640197 -->
    <meta charset="UTF-8">
    <title>Action</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      .attribute-name {
        margin: 5px 0;
      }
      label {
        display: block;
      }
      .attribute-name-inputs {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .attribute-name-inputs * {
        margin-right: 5px;
      }
      .attribute-name-inputs button {
        margin: inherit;
      }
      button {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div id='vue-app'>
      <h2>Specify Element Attribute names</h2>
      <p>
        The attribute names you supply here are what we will try to pull from an element that is clicked in the DOM
      </p>
      <attribute-name-input
        v-for="(attributeName, index) in attributeNames"
        v-bind:key="index"
        v-bind:attributeName="attributeName"
        v-bind:index="index"
        v-bind:handleChange="handleAttributeNameChange"
        v-bind:removeAttribute="removeAttribute"
      >
      </attribute-name-input>
      <button v-on:click="addAttribute">Add Attribute</button>
    </div>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      var myVueApp;

      window.extensionBridge.register({
        init: function(info) {
          Vue.component('attribute-name-input', {
            props: ['attributename', 'handlechange', 'removeattribute', 'index'],
            template: '<div class="attribute-name">'+
              '<label>Attribute {{index + 1}}</label>'+
                '<div>'+
                '<div class="attribute-name-inputs">'+
                  '<input class="attribute-name-input" type="text" :value="attributename" @input="handlechange" :data-index="index" required />'+
                  '<button :data-index="index" v-on:click="removeattribute">remove</button>'+
                '</div>'+  
                '</div>'+  
              '</div>'
          })

          var attributeNames = ['']

          if (info.settings) {
            attributeNames = info.settings.attributeNames
          }

          myVueApp = new Vue({
            el: '#vue-app',
            data: {
              attributeNames: attributeNames
            },
            methods: {
              addAttribute: function() {
                this.attributeNames.push('')
              },
              handleAttributeNameChange: function (e) {
                var index = parseInt(e.target.attributes['data-index'].value, 10)
                this.attributeNames.splice(index, 1, e.target.value)
              },
              removeAttribute: function (e) {
                debugger
                var index = parseInt(e.target.attributes['data-index'].value, 10)
                this.attributeNames.splice(index, 1)
              }
            }
          })
        },

        getSettings: function() {
          var attributeNames = []

          if (myVueApp && myVueApp.attributeNames) {
            attributeNames = JSON.parse(JSON.stringify(myVueApp.attributeNames))
          }

          return {
            attributeNames: attributeNames,
          }
        },

        validate: function() {
          var attributeNames = []

          if (myVueApp && myVueApp.attributeNames) {
            attributeNames = myVueApp.attributeNames
          }

          var filteredItems = attributeNames.filter(function(el) {
            return !!el
          })

          return filteredItems.length > 0 && filteredItems.length === attributeNames.length
        }
      });
    </script>
  </body>
</html>
